{include file='profesor/header.html'}
<div class="row">
	<form method="post" action ="cambiar_pass.php" >

	<div class="col s6 offset-s3">
		<div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" required name="passA"class="validate">
          <label for="password">Contraseña actual</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" required name="passN" class="validate">
          <label for="password">Contraseña nueva</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" required name="passR" class="validate">
          <label for="password">Repite la nueva contraseña</label>
        </div>
      </div>
		<div class="row">
			<input type="submit" value="guardar" class="btn">
	</div>
	</div>
	</form>
</div>
{include file='profesor/footer.html'}