{include file='profesor/header.html'}
 <div class="row">
		<a href="agregar_curso.php" class="breadcrumb"><span class="blue-text text-darken-2">Agregar curso</span></a>
		<a  href="editar_curso.php?id={$id}" class="breadcrumb"><span class="blue-text text-darken-2">Editar curso</span></a>
		<a  class="breadcrumb"><span class="blue-text text-darken-2">{$tema[0][1]}</span></a>
 </div>
<div class="row">
	<div class="col s8">
		<div class="row">
			<h3>{$tema[0][1]}</h3>
		</div>
		<div class="row">
			<div class="video-container">
        		<iframe width="500" src="{$tema[0][3]}"></iframe>
      		</div>
		</div>
		<div class="row">
			<p>
				{$tema[0][2]}
			</p>
		</div>
	</div>
	<div class="col s4">
		<ul class="collapsible" data-collapsible="accordion">
			<li>
     	 	<div class="collapsible-header"><i class="material-icons">filter_drama</i>Temas</div>
      		<div class="collapsible-body"><p>
      			{foreach from=$temas item=valor}
      				{if $valor[0]==$tema[0][0]}
					<a href="ver_tema.php?id={$id}&tema={$valor[0]}" class="btn #00695c teal darken-3">{$valor[1]}</a>
					{else}
					<a href="ver_tema.php?id={$id}&tema={$valor[0]}" class="btn">{$valor[1]}</a>
					{/if}
				{/foreach}</p>
			</div>
    		</li>
			
		</ul>
	</div>
</div>	
{include file='profesor/footer.html'}