{include file='header.html'}
 <div class="row">
		<a href="cursos.php" class="breadcrumb"><span class="blue-text text-darken-2">Cursos</span></a>
		<a  class="breadcrumb"><span class="blue-text text-darken-2">{$curso[0][2]}</span></a>
 </div>
<div class="row">
	<div class="col s6 offset-s3">
		<div class="row">
			<h1>{$curso[0][2]}</h1>
		</div>
		<div class="row">
			<div class="col s12 m7">
				<img class="materialboxed" width="650" src="images/articulos/{$curso[0][5]}">
			</div>
		</div>
		<div class="row">
			<p>
				{$curso[0][4]}
			</p>
			<a class="btn" href="temario.php?id={$curso[0][0]}">Descargar Temario</a>
		</div>
	</div>
</div>
{include file='footer.html'}