{include file='header.html'}
<div id="formNuevCuenta">
<div class="">
	<div class="">
  		<h2>Iniciar sesion</h2>
	</div>
<form class="" method="post" action="iniciar_sesion.php">
	<div >
	<label class=""> Correo:</label><br/>
	<input class="" id="email" type="email" name="correo" placeholder="correo"><br/>
 	</div>
	<div >
	<label class="">Contraseña</label><br/>
	<input class="" type="password"  id="pwd" name="pass" placeholder="Contraseña"><br/>
	</div>
	<p>
		<a href="nueva_cuenta.php">Nueva cuenta</a><br>
		<a href="recuperar.php">¿Olvidaste contraseña?</a><br>
	</p>
	<input class="btn waves-effect waves-light" type="submit" value="Inciar sesion">
</form>
</div>
</div>
{include file='footer.html'}